
$('.edit_product').hide();
$('.row').show();

var $newdiv1 = $( "<div class='col s4' id='product-<%= @product.id %>'></div>" )
$( '.section').prepend( $newdiv1 );
$('#product-<%= @product.id %>').prepend('<%= j render(@product) %>');

var $newdiv2 = $( "<div id='flash_success'></div>" )
$( '.container').prepend( $newdiv2 );
$('#flash_success').html('Product Successfully Updated!')